body {
  overflow: hidden;
  min-height: 100vh;
}
.bubble {
  position: absolute;
  border-radius: 300px;
  background: green;
  opacity: 0;
  animation: anim 10s forwards;
  filter: hue-rotate(0deg);
}

@keyframes anim {
  to {
    top: -1650px;
    left: var(--left);
    opacity: 1;
    filter: hue-rotate(720deg);
  }
}
